@media (max-width: 1550px) {
  .work_panel .dashbouard_panel .title_row .title {
    width: calc(45% - 0.1rem); }
  .work_panel .dashbouard_panel .title_row .period {
    width: calc(55% - 0.1rem); }
  .work_panel .dashbouard_panel .council_name .left_box .seletbox {
    max-width: calc(32.5% - 0.1rem); }
  .work_panel .dashbouard_panel .two_separate_area .l .row2 .box_list .tit {
    font-size: 0.8rem; } }

@media (max-width: 1350px) {
  .work_panel .dashbouard_panel .council_name .right_box .box_s .contentahead {
    padding-left: 5rem; }
  .work_panel .dashbouard_panel .council_name .right_box .box_s .contentahead svg {
    left: 1rem; }
  .work_panel .dashbouard_panel .two_separate_area .l .row2 .box .totalbox svg {
    max-width: 2.5rem; }
  .work_panel .dashbouard_panel .two_separate_area .l .row2 .box .totalbox {
    padding-left: 5rem; }
  .work_panel .dashbouard_panel .council_name .left_box h1 {
    font-size: 2.5rem; }
  .work_panel .dashbouard_panel .two_separate_area .l .row2 .box_list .li_p, .work_panel .dashbouard_panel .two_separate_area .l .row2 .box_list .tit {
    padding: 0 1rem; }
  .work_panel .dashbouard_panel .council_name .seletbox .custom-select-trigger {
    padding-left: 1rem; }
  .work_panel .dashbouard_panel .council_name .seletbox .custom-select-trigger:after {
    right: 0.5rem; }
  .work_panel .dashbouard_panel .title_row {
    display: block; }
    .work_panel .dashbouard_panel .title_row .title {
      width: 100%;
      margin-bottom: 0.2rem;
      position: relative; }
    .work_panel .dashbouard_panel .title_row .period {
      width: 100%; }
  .work_panel .dashbouard_panel .contenttext, .work_panel .dashbouard_panel .items_box {
    max-width: calc(100% - 2rem); }
  .work_panel .dashbouard_panel .two_separate_area .l .scrollablecont {
    height: calc(100vh - 30.3rem); }
  .work_panel .dashbouard_panel .two_separate_area .without_mh .scrollablecont {
    max-height: calc(100vh - 33.3rem); } }

@media (max-width: 1200px) {
  html, body {
    font-size: 13px; }
  .work_panel .dashbouard_panel .two_separate_area .l .scrollablecont {
    height: calc(100vh - 38.3rem); }
  .work_panel .dashbouard_panel .two_separate_area .without_mh .scrollablecont {
    max-height: calc(100vh - 41.3rem); }
  .work_panel .dashbouard_panel .two_separate_area .list_right_side .scrollablecont {
    overflow: auto;
    max-height: calc(100vh - 44rem); }
  .work_panel .dashbouard_panel .two_separate_area .list_right_side .toolbar_c a {
    margin-right: 0; }
  .work_panel .dashbouard_panel .two_separate_area .list_right_side .toolbar_c input {
    margin: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
  .work_panel .dashbouard_panel .two_separate_area .list_right_side .box_list .li_p .rs {
    min-width: 7rem; }
  .top_nav .searchbar_menu, .leftmenu_sm .leftpanel .logo_pl .logo, .right_nav .title h1, .top_nav .username_options .clickable, .top_nav .notification_c .notification_c_icon svg {
    top: 50%; }
  .leftpanel .logo_pl .logo_smaller {
    margin-top: 0; }
  .work_panel .dashbouard_panel .council_name .right_box .box_s .contentahead {
    padding-left: 4rem; }
  .work_panel .dashbouard_panel .council_name .right_box .box_s .contentahead svg {
    max-width: 2.5rem; }
  .work_panel .dashbouard_panel .council_name {
    width: 100%;
    display: block; }
    .work_panel .dashbouard_panel .council_name .left_box {
      width: 100%;
      margin-bottom: 0.2rem; }
    .work_panel .dashbouard_panel .council_name .right_box {
      width: 100%; }
  .work_panel .dashbouard_panel .contenttext, .work_panel .dashbouard_panel .items_box {
    max-width: calc(100% - 4rem); } }

@media (max-width: 805px) {
  html, body {
    font-size: 12px; } }

@media (max-width: 1000px) {
  .work_panel .dashbouard_panel .two_separate_area .list_right_side .scrollablecont {
    max-height: unset;
    overflow: unset;
    padding-bottom: 5.3rem; }
  .work_panel .dashbouard_panel .two_separate_area .without_mh .scrollablecont {
    max-height: unset; }
  .work_panel .dashbouard_panel .two_separate_area_for_boxestop {
    padding-top: 4.6rem; }
  .work_panel .dashbouard_panel .two_separate_area_for_boxestop .list_right_side .rightb {
    position: absolute;
    top: 0;
    right: 0; }
  .work_panel .dashbouard_panel .two_separate_area_for_boxestop {
    margin-top: 0; }
  .work_panel .dashbouard_panel .two_separate_area .without_mh {
    max-height: unset; }
  .work_panel .dashbouard_panel .two_separate_area_for_boxestop .list_right_side {
    position: unset; }
  .work_panel .dashbouard_panel .two_separate_area .list_right_side .toolbar_c {
    bottom: 2.3rem; }
  .work_panel {
    overflow: auto;
    max-height: calc(100vh - 6rem); }
  .work_panel .dashbouard_panel .two_separate_area {
    display: block; }
    .work_panel .dashbouard_panel .two_separate_area .l, .work_panel .dashbouard_panel .two_separate_area .r {
      width: 100%; }
  .work_panel .dashbouard_panel .two_separate_area .l .scrollablecont {
    height: unset;
    overflow: unset; }
  .work_panel .dashbouard_panel .boxes6 {
    display: block;
    width: 100%;
    position: relative; }
    .work_panel .dashbouard_panel .boxes6 .leftb {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .work_panel .dashbouard_panel .boxes6 .leftb .box {
        vertical-align: top;
        max-width: calc(33.33% - 0.2rem);
        width: calc(33.33% - 0.2rem);
        margin-bottom: 0.2rem;
        flex-grow: 1; }
  .work_panel .dashbouard_panel .boxes6 .rightb {
    position: absolute;
    right: 0;
    top: 4.6rem;
    width: calc(66.67% - 0.1rem); }
  .work_panel .dashbouard_panel .boxes6 .rightb .box {
    width: calc(50% - 0.15rem); } }

.daterangepicker.ltr {
  z-index: 999999999999; }

@media (max-width: 772px) {
  .daterangepicker.ltr {
    max-height: calc(100vh - 30rem);
    overflow: auto;
    min-height: 20rem; }
  .daterangepicker.ltr {
    left: 0.2rem !important;
    margin-right: auto !important;
    margin-left: auto !important; }
  .right_nav .dropf .total_optimal .total {
    padding-bottom: 0.8rem;
    padding-top: 0.8rem; }
  .rightmenu_sm .right_nav .dropf .box {
    max-height: unset;
    height: unset; }
  .confirmbox p {
    font-size: 1rem;
    line-height: 1.1rem; }
  .footerarea {
    left: 0;
    right: 0; }
  .rightmenu_sm .footerarea {
    right: 18rem; }
  .leftpanel {
    max-width: 6rem;
    background: transparent;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 9;
    min-height: 6rem; }
    .leftpanel .logo_pl {
      max-width: 6rem; }
      .leftpanel .logo_pl .logo {
        opacity: 0; }
      .leftpanel .logo_pl .logo_smaller {
        opacity: 1; }
    .leftpanel .on_mobile_nav {
      position: fixed;
      background: #53565A;
      left: 0;
      top: 6rem;
      margin-left: -18rem;
      bottom: 0;
      height: unset; }
  .right_nav {
    position: fixed;
    right: -18rem;
    top: 6rem;
    padding-top: 0; }
    .right_nav .title {
      max-width: 6rem; }
      .right_nav .title h1 span {
        opacity: 0; }
  .right_nav .title {
    min-height: 6rem;
    min-width: 6rem;
    background: #43B02A; }
  .right_nav .title h1 {
    left: 0rem;
    right: 0rem; }
    .right_nav .title h1 svg {
      left: 0;
      right: 0;
      margin: auto; }
  .right_nav {
    max-width: 6rem; }
  .work_panel {
    display: block;
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: unset;
    min-height: unset;
    overflow: auto; }
  .screen_view {
    display: block; }
  .top_nav {
    left: 6rem;
    right: 6rem; }
  .leftmenu_sm .work_panel, .rightmenu_sm .work_panel {
    max-width: 100%; }
  .on_mobile_nav {
    overflow: auto;
    height: calc(100vh - 6rem); }
  .leftpanel .logo_pl {
    overflow: hidden; }
  .leftmenu_sm .leftpanel .logo_pl {
    max-width: 18rem; }
    .leftmenu_sm .leftpanel .logo_pl .logo {
      opacity: 1; }
    .leftmenu_sm .leftpanel .logo_pl .logo_smaller {
      opacity: 0; }
  .leftmenu_sm .top_nav {
    left: 18rem; }
  .leftmenu_sm .leftpanel .on_mobile_nav {
    margin-left: 0;
    max-width: 18rem;
    width: 100%; }
  .leftmenu_sm .leftpanel .navbar .dropwdown a .arrow {
    right: 2rem;
    max-width: 1rem; }
  .leftmenu_sm .leftpanel .navbar li a span {
    opacity: 1; }
  .rightmenu_sm .top_nav {
    right: 18rem; }
  .rightmenu_sm .right_nav .title {
    max-width: 18rem; }
    .rightmenu_sm .right_nav .title h1 span {
      opacity: 1; }
  .rightmenu_sm .right_nav .title h1 {
    left: 2rem;
    right: 0; }
    .rightmenu_sm .right_nav .title h1 svg {
      left: 0rem;
      right: unset;
      margin: auto; }
  .rightmenu_sm .right_nav {
    max-width: 18rem; }
  .rightmenu_sm .right_nav .dropf .box .tit h1, .rightmenu_sm .right_nav .dropf .box .tit h2, .rightmenu_sm .right_nav .dropf .box .tit h3 {
    opacity: 1;
    display: block; }
  .rightmenu_sm .right_nav .dropf .box .tit .smaller_mobile {
    font-size: 1.4rem;
    margin-top: 0.1rem; }
  .right_nav .dropf .box_normal .tit h1, .right_nav .dropf .box_normal .tit h2 {
    opacity: 1;
    display: block; }
  .rightmenu_sm .right_nav .optimalroute svg, .rightmenu_sm .right_nav .dropf .box .tit svg, .right_nav .dropf .box_normal .tit svg {
    right: unset;
    left: 1.8rem; }
  .rightmenu_sm .right_nav .optimalroute {
    min-height: 4.4rem; }
  .rightmenu_sm .right_nav .optimalroute h1, .rightmenu_sm .right_nav .optimalroute h2 {
    opacity: 1; }
  .right_nav .right_nav_phone {
    position: fixed;
    right: 0;
    top: 6rem;
    bottom: 0;
    background: #72C45F;
    overflow: auto;
    height: calc(100vh - 6rem);
    min-height: calc(100vh - 6rem);
    width: 18rem;
    margin-right: 0 !important;
    right: -18rem;
    height: unset;
    min-height: unset;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .rightmenu_sm .right_nav .right_nav_phone {
    right: 0; }
  .rightmenu_sm .right_nav .dropf .clickable h2 {
    opacity: 1; }
  .rightmenu_sm .right_nav .dropf .clickable {
    padding-left: 4.3rem; }
  .rightmenu_sm .right_nav .dropf .clickable svg {
    left: unset;
    right: 2rem; }
  .rightmenu_sm .right_nav .dropf .box input {
    opacity: 1; }
  .rightmenu_sm .right_nav .dropf .box {
    min-height: 6.6rem; }
  .rightmenu_sm .right_nav .dropf .box_normal {
    min-height: 4.4rem; }
  .rightmenu_sm .right_nav .right_nav_phone {
    overflow: auto;
    height: unset;
    min-height: unset; }
  .leftpanel .downnavbar {
    padding-bottom: 2rem; }
  .top_nav .username_options .clickable span {
    display: none; }
  .rightmenu_sm .top_nav .searchbar_menu input, .leftmenu_sm .top_nav .searchbar_menu input {
    width: 9rem;
    min-width: 9rem; }
  .leftpanel .navbar {
    min-height: calc(100% - 13.3rem);
    max-width: 18rem; }
  .leftpanel .downnavbar {
    min-height: unset; }
  .top_nav .notification_c ul {
    left: 6rem;
    right: 6rem; }
  .top_nav .username_options ul {
    right: 6rem; }
  .leftmenu_sm .top_nav .notification_c ul {
    left: 18rem; }
  .rightmenu_sm .top_nav .notification_c ul, .rightmenu_sm .top_nav .username_options ul {
    right: 18rem; }
  .screen_view_without_rs .top_nav .username_options ul {
    right: 0; } }

@media (max-width: 550px) {
  .work_panel .dashbouard_panel .two_separate_area .l .per2col_inrow {
    display: block; }
  .work_panel .dashbouard_panel .two_separate_area .l .mt0 .per2col_inrow .box {
    max-width: 100%;
    width: 100%; }
  .work_panel .dashbouard_panel .two_separate_area .l .per2col_inrow .box {
    width: 100%;
    max-width: 100%; }
  .top_nav .notification_c .notification_c_icon svg {
    left: 1.2rem; }
  .top_nav .searchbar_menu {
    left: 5rem; }
  .top_nav .searchbar_menu {
    position: unset;
    top: unset;
    transform: unset; }
    .top_nav .searchbar_menu svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4.2rem; }
  .top_nav .searchbar_menu input {
    position: fixed;
    top: 6rem;
    left: 6rem;
    right: 6rem;
    max-width: calc(100% - 12rem);
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .top_nav .active_search input {
    visibility: visible;
    opacity: 1; }
  .top_nav .username_options .clickable {
    right: 1rem; }
  .top_nav .username_options .clickable .placeforimg {
    width: 2rem;
    height: 2rem; } }

@media (max-width: 500px) {
  .work_panel .dashbouard_panel .two_separate_area_for_boxestop {
    margin-top: 0.2rem; }
  .work_panel .dashbouard_panel .two_separate_area .l .row1 {
    max-height: unset; }
  .work_panel .dashbouard_panel .two_separate_area_for_boxestop .l .per2col_inrow {
    margin: 0; }
  .work_panel .dashbouard_panel .boxes6 .leftb .box {
    max-width: calc(50% - 0.1rem);
    width: calc(50% - 0.1rem); }
  .work_panel .dashbouard_panel .boxes6 .rightb {
    position: relative;
    top: unset;
    width: 100%; }
  .work_panel .dashbouard_panel .boxes6 .rightb .box {
    width: calc(50% - 0.1rem); }
  .work_panel .dashbouard_panel .two_separate_area .l .row1 {
    flex-wrap: wrap; }
  .work_panel .dashbouard_panel .two_separate_area .l .row1 .box {
    width: calc(50% - 0.1rem);
    max-width: calc(50% - 0.1rem);
    flex-grow: 1;
    margin-bottom: 0.2rem; }
  .work_panel .dashbouard_panel .two_separate_area .l .row2 {
    flex-wrap: wrap; }
    .work_panel .dashbouard_panel .two_separate_area .l .row2 .box {
      width: 100%;
      max-width: 100%; }
    .work_panel .dashbouard_panel .two_separate_area .l .row2 .box_list {
      width: calc(33.33% - 0.2rem);
      max-width: calc(33.33% - 0.2rem); }
  .work_panel .dashbouard_panel .council_name .left_box .seletbox {
    max-width: 100%;
    top: 6rem; }
    .work_panel .dashbouard_panel .council_name .left_box .seletbox .custom-select-trigger {
      padding-top: 0.5rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.5rem; }
    .work_panel .dashbouard_panel .council_name .left_box .seletbox .custom-select-trigger:after {
      top: 50%; }
  .work_panel .dashbouard_panel .council_name_select_box .left_box .name_c {
    padding-bottom: 2rem; }
  .work_panel .dashbouard_panel .council_name_select_box .left_box svg {
    top: calc(50% - 1rem); }
  .work_panel .dashbouard_panel .two_separate_area .l {
    min-height: unset; }
  .work_panel .dashbouard_panel .two_separate_area .l .scrollablecont {
    padding-bottom: 0.5rem; }
  .work_panel .dashbouard_panel .two_separate_area .l .per2col_inrow {
    display: block; }
  .work_panel .dashbouard_panel .two_separate_area .l .per2col_inrow .box {
    width: 100%;
    max-width: 100%; } }

@media (max-width: 480px) {
  .right_nav .right_nav_phone {
    width: 50%;
    margin-right: -50%; }
  .rightmenu_sm .top_nav {
    right: 50%; }
  .leftmenu_sm .top_nav {
    left: 50%; }
  .rightmenu_sm .top_nav .notification_c ul, .rightmenu_sm .top_nav .username_options ul {
    right: 50%; }
  .leftmenu_sm .top_nav .notification_c ul, .leftmenu_sm .top_nav .username_options ul {
    left: 50%; }
  .leftmenu_sm .leftpanel .logo_pl, .rightmenu_sm .right_nav .title {
    max-width: 50%; }
  .leftpanel .on_mobile_nav, .leftmenu_sm .leftpanel .on_mobile_nav, .rightmenu_sm .right_nav {
    max-width: 50%; }
  .leftpanel .navbar {
    max-width: 100%; }
  .leftpanel .on_mobile_nav {
    margin: 0 !important;
    left: -50%; }
  .leftmenu_sm .leftpanel .on_mobile_nav {
    left: 0; }
  .rightmenu_sm .top_nav .searchbar_menu input {
    width: calc(100% - 21rem);
    right: 15rem; }
  .leftmenu_sm .top_nav .searchbar_menu input {
    width: calc(100% - 21rem);
    left: 15rem; }
  .rightmenu_sm .footerarea {
    right: 50%; } }

@media (max-width: 420px) {
  html, body {
    font-size: 11.6px; } }

@media (max-width: 390px) {
  html, body {
    font-size: 11.2px; } }

@media (max-width: 370px) {
  html, body {
    font-size: 11px; }
  .top_nav .notification_c .notification_c_icon svg {
    left: 1rem; }
  .top_nav .username_options .clickable {
    right: 0.7rem; }
  .top_nav .searchbar_menu svg {
    left: 3.5rem; } }

@media (max-width: 340px) {
  html, body {
    font-size: 10.3px; }
  .top_nav .searchbar_menu svg {
    left: 3.6rem; }
  .right_nav .title h1 {
    font-size: 1.4rem; }
  .right_nav .dropf .box .multiselect .arrowright, .rightmenu_sm .right_nav .dropf .clickable svg {
    right: 0.5rem; } }
