.custom-select-wrapper {
  position: absolute;
  display: block;
  user-select: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    display: block;
    width: 100%;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 100%;
      font-family: 'Oswald', sans-serif;
      font-size: 1rem;
      font-weight: 300;
      color: #53565A;
      line-height: 1rem;
      background: #E5E5E3;
      // border-radius: 4px;
      cursor: pointer;
      display: block;
      width: 100%;
      padding: 0.5rem;
      padding-left: 2rem;
      border-bottom-right-radius: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 6.5rem;

    }
    .custom-select-trigger:after {
      position: absolute;
      display: block;
      content: '';
      width: 0.65rem;
      height: 0.35rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.328 3.399'%3E%3Cpath id='Path_373' data-name='Path 373' d='M9.774,3.5l-2.8,2.682a.406.406,0,0,1-.256.111.372.372,0,0,1-.243-.1L3.663,3.5A.351.351,0,1,1,4.149,3L6.719,5.459,9.288,3a.351.351,0,0,1,.486.505Z' transform='translate(-3.555 -2.898)' fill='%2353565a'/%3E%3C/svg%3E%0A") center center / 0.633rem;
      background-repeat: no-repeat;
      right: 1.5rem;
      top: calc(50% + 3rem);
      transform: translateY(-50%);
      -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
           -o-transition: all .25s ease;
              transition: all .25s ease;
    }
    .custom-select.opened .custom-select-trigger:after {
      transform: rotate(-180deg);
      top: calc(50% + 2.8rem);
    }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 0.2rem 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    background: #E5E5E3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 9999;
    max-height: 10.5rem;
        overflow: auto;
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    // .custom-options:before {
    //   position: absolute;
    //   display: block;
    //   content: '';
    //   bottom: 100%; right: 25px;
    //   width: 7px; height: 7px;
    //   margin-bottom: -4px;
    //   border-top: 1px solid #b5b5b5;
    //   border-left: 1px solid #b5b5b5;
    //   background: #fff;
    //   transform: rotate(45deg);
    //   transition: all .4s ease-in-out;
    // }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      cursor: pointer;
      transition: all .4s ease-in-out;

      font-family: 'Oswald', sans-serif;
      font-size: 1rem;
      color: #53565A;
      padding: 0.3rem 0.5rem 0.3rem 2rem;
      display: block;
      cursor: pointer;
      font-weight: 300;
    }
    // .custom-option:first-of-type {
    //   border-radius: 4px 4px 0 0;
    // }
    // .custom-option:last-of-type {
    //   border-bottom: 0;
    //   border-radius: 0 0 4px 4px;
    // }
    .custom-option:hover,
    .custom-option.selection {
      background: #E8F5E4;
    }
    *::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    *::-webkit-scrollbar-track {
      background: #CACAC7; 
    }
     
    /* Handle */
    *::-webkit-scrollbar-thumb {
      background: #2A2B2D; 
    }

    /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
      background: #2A2B2D; 
    }