// fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "fontawesome_light";
    src: url("../fonts/FontAwesome6ProLight300.otf");
}
// fonts end


// def code
html,body{
	font-size: 12px;
}
body{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
input:focus{
	outline: none;
}
img{
	max-width: 100%;
}
// def code end

// components

// components end

.screen_view{
	display: flex;
	min-height: 100vh;
}
.right_nav{
	max-width: 18rem;
	background: #72C45F;
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 6rem;
	.title{
		position: fixed;
		height: 6rem;
		width: 100%;
		top: 0;
		right: 0;
		z-index: 2;
		background: #43B02A;
		max-width: 18rem;
		h1{
			position: absolute;
			left: 2rem;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			color: #fff;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 2.3rem;
			svg{
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				max-width: 1.5rem;
				path{
					fill: #fff;
				}
			}
		}
	}
	a{
		text-decoration: none;
	}
	.optimalroute{
		display: block;
		width: calc(100% - 0.4rem);
		margin: auto;
		background: #53565A;
		border-radius: 0.5rem;
		margin-bottom: 0.2rem;
		min-height: 4.4rem;
		position: relative;
		padding-left: 4.1rem;
		padding-top: 0.6rem;
		svg{
			position: absolute;
			left: 1.8rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			max-width: 1.5rem;
			path{
				fill: #fff;
			}
		}
		h2{
			font-family: 'Oswald', sans-serif;
			font-size: 0.7rem;
			font-weight: 500;
			color: #fff;
		}
		h1{
			font-family: 'Oswald', sans-serif;
			font-size: 1.8rem;
			font-weight: 400;
			color: #fff;
			margin-top: -0.3rem;
		}
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.wh_c{
		background: #CACAC7;
	}
	.optimalroute:hover{
		opacity: 0.7;
	}
	
	.dropf{
		margin-bottom: 0.3rem;
		.clickable{
			padding-left: 4.3rem;
			padding-top: 0.5rem;
			padding-bottom: 0.6rem;
			position: relative;
			cursor: pointer;
			h2{
				font-weight: 300;
				line-height: 3rem;
				font-size: 1.25rem;
				color: #fff;
				font-family: 'Oswald', sans-serif;
			}
			svg{
				position: absolute;
				right: 2rem;
				width: 0.8rem;
				top: calc(50% + 0.2rem);
				transform: translateY(-50%);
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
				path{
					fill: #fff;
				}
			}
		}
		a{
			text-decoration: none;
		}


		.boxes{
			max-height: 0;
			overflow: hidden;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		.box{
			display: block;
			width: calc(100% - 0.4rem);
			margin: auto;
			min-height: 6.6rem;
			background: #43B02A;
			border-radius: 0.5rem;
			position: relative;
			margin-bottom: 0.2rem;

			input{
				position: absolute;
				background: #fff;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0;
				width: 100%;
				border-radius: 0.5rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				font-family: 'Oswald', sans-serif;
				font-size: 1rem;
				padding: 0.3rem 0.5rem 0.3rem 4.1rem;
			}

			.tit{
				min-height: 4.4rem;
				width: 100%;
				position: relative;
				padding-left: 4.1rem;
				padding-top: 0.6rem;
				padding-bottom: 0.6rem;
				svg{
					position: absolute;
					left: 1.8rem;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					max-width: 1.5rem;
					path{
						fill: #fff;
					}
				}
				h2{
					font-family: 'Oswald', sans-serif;
					font-size: 0.7rem;
					font-weight: 500;
					color: #fff;
				}
				h1{
					font-family: 'Oswald', sans-serif;
					font-size: 1.8rem;
					font-weight: 400;
					color: #fff;
					margin-top: -0.3rem;
				}
			}
		}
	}
	.dropf_active{
		.clickable svg{
			transform: rotate(180deg);
			margin-top: -0.4rem;	
		}
		.boxes{
			max-height: 50rem;
		}
	}
}
.work_panel{
	max-width: calc(100% - 36rem);
	background: #fff;
	min-height: 100vh;
	width: 100%;
	position: relative;

	background: url(../img/mapplc.png) no-repeat top left; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.leftpanel{
	max-width: 18rem;
	background: #53565A;
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 6rem;
	.logo_pl{
		position: fixed;
		height: 6rem;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background: #53565A;
		max-width: 18rem;
		img{
			max-width: 7.75rem;
			width: 100%;
			position: absolute;
			left: 2rem;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.navbar{
		padding: 0;
		margin: 0;
		list-style-type: none;
		min-height: calc(100vh - 23rem);
		margin-bottom: 3rem;
		li{
			a{
				font-family: 'Oswald', sans-serif;
				font-size: 1.25rem;
				color: #fff;
				text-decoration: none;
				padding-left: 4.6rem;
				line-height: 3.5rem;
				display: block;
				position: relative;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
				.icon{
					width: 2rem;
					height: 3rem;
					display: inline-block;

					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					svg{
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						display: block;
						top: 50%;
						transform: translateY(-50%);
						height: 1.5rem;
						path{
							fill: #fff;
						}
					}
					.h10{
						height: 1.2rem;
					}
					.dashboard{
						height: 1.125rem;
					}
				}
				.arrow{
					position: absolute;
					right: 2rem;
					top: calc(50% + 0.2rem);
					transform: translateY(-50%);
					width: 1rem;

					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
			}
			a:hover{
				background: #2A2B2D;
				// color: #5BBA45;
				.icon{
					svg{
						path{
							// fill: #5BBA45;
						}
					}
				}
			}
			.activea{
				background: #2A2B2D;
				color: #5BBA45;
				.icon{
					svg{
						path{
							fill: #5BBA45;
						}
					}
				}
			}

			.dropdownelements{
				overflow: hidden;
				max-height: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
				a{
					font-size: 1.2rem;
					line-height: 3rem;
				}
			}
		}
		.dropwdown_active{
			a{
				.arrow{
					transform: rotate(180deg);
					margin-top: -0.4rem;	
				}
			}
			.dropdownelements{
				max-height: 40rem;
			}
		}
	}
	.downnavbar{
		min-height: unset;
		margin-bottom: 0;
		padding-bottom: 2rem;
		li a{
			font-size: 1.2rem;
			line-height: 3rem;
		}
	}
}
.top_nav{
	position: fixed;
	left: 18rem;
	right: 18rem;
	min-height: 6rem;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	z-index: 2;
	.notification_c{
		.notification_c_icon{
			
			svg{
				height: 1.8rem;
				position: absolute;
				left: 2rem;
				top: 50%;
				transform: translateY(-50%);
				path{
					fill: #fdb514;
				}
			}
		}
		.notification_c_icon:hover{
			cursor: pointer;
			svg{
				path{
					fill: #5BBA45;
				}
			}
		}

		ul{
			background: #FDB514;
			position: fixed;
			top: 6rem;
			left: 18rem;
			padding: 0;
			margin: 0;

			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			li{
				list-style-type: none;
				a{
					padding-left: 4.3rem;
					padding-right: 3rem;
					text-decoration: none;
					font-family: 'Oswald', sans-serif;
					font-size: 1.25rem;
					color: #fff;
					line-height: 3.5rem;
					position: relative;
					display: block;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				svg{
					display: inline-block;
					width: 1.5rem;
					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					path{
						fill: #fff;
					}
				}
				a:hover{
					background: #5BBA45;
				}
			}
		}
	}
	.notification_c_active{
		ul{
			opacity: 1;
			visibility: visible;
		}
	}

	.searchbar_menu{
		position: absolute;
		left: 6rem;
		top: 50%;
		transform: translateY(-50%);
		svg{
			height: 1.5rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 0;
		}
		input{
			font-family: 'Oswald', sans-serif;
			font-size: 1.25rem;
			border: 0;
			padding: 0 1rem 0 2rem;
			min-height: 3rem;
			line-height: 3rem;
			min-width: 15rem;
			font-weight: 300;
			position: relative;
			z-index: 2;
			background: transparent;
		}
	}
	.username_options{
		.clickable{
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			color: #000000;
			font-family: 'Oswald', sans-serif;
			font-size: 1.25rem;
			padding-right: 5.2rem;
			line-height: 3rem;
			cursor: pointer;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			.placeforimg{
				position: absolute;
				right: 1.4rem;
				width: 3rem;
				height: 3rem;
				border-radius: 100%;
				top: 50%;
				transform: translateY(-50%);
				img{
					display: block;
					max-width: 100%;
					width: 100%;
				}
			}
			svg{
				position: absolute;
				right: 0;
				top: calc(50% + 0.2rem);
				transform: translateY(-50%);
				width: 1rem;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
		}
		.clickable:hover{
			color: #5BBA45;
		}

		ul{
			background: #53565A;
			position: fixed;
			top: 6rem;
			right: 18rem;
			padding: 0;
			margin: 0;

			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			li{
				list-style-type: none;
				a{
					padding-left: 4.3rem;
					padding-right: 3rem;
					text-decoration: none;
					font-family: 'Oswald', sans-serif;
					font-size: 1.25rem;
					color: #fff;
					line-height: 3.5rem;
					position: relative;
					display: block;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				svg{
					display: inline-block;
					height: 1.1rem;
					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					path{
						fill: #fff;
					}
				}
				a:hover{
					background: #494B4F;
				}
			}
		}
	}
	.username_options_active{
		ul{
			opacity: 1;
			visibility: visible;
		}
		.clickable{
			svg{
				transform: rotate(180deg);
				margin-top: -0.2rem;
			}
		}
	}
}















