// fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "fontawesome_light";
    src: url("../fonts/FontAwesome6ProLight300.otf");
}
// fonts end


// def code
html,body{
	overflow: hidden;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}
body{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
	outline: none;
}
input:focus{
	outline: none;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
}
img{
	max-width: 100%;
}
*:hover,*:focus,*{
	outline: none;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.leaflet-top .leaflet-control{
	margin-top: 95px;
}
// def code end

// components

// components end

.screen_view{
	display: flex;
	min-height: 100vh;
}
.screen_view_without_rs{
	.footerarea, .work_panel, .top_nav{
		right: 0 !important;
	}
	.top_nav .username_options ul{
		right: 1.5rem;
	}
}
.screen_view_without_rs.leftmenu_sm .work_panel{
	left: 0;
}
.footerarea{
	position: fixed;
	left: 18rem;
	right: 18rem;
	bottom: 0;
	z-index: 9999999;
	background: rgba(255, 255, 255, 0.75);
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	p{
		color: #53565A;
		font-size: 1rem;
		font-weight: 300;
		font-family: 'Oswald', sans-serif;
		text-align: right;
		padding-right: 2rem;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}
}
.right_nav{
	max-width: 18rem;
	background: #72C45F;
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 6rem;
	z-index: 99999998 !important;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
    .right_nav_phone{
    	height: calc(100vh - 6rem);
        overflow: auto;
        @media(max-width: 1000px){
        	padding-bottom: 1rem;
        }
    }
    *::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    *::-webkit-scrollbar-track {
      background: #CACAC7; 
    }
     
    /* Handle */
    *::-webkit-scrollbar-thumb {
      background: #2A2B2D; 
    }

    /* Handle on hover */
    *::-webkit-scrollbar-thumb:hover {
      background: #2A2B2D; 
    }
	.showed_menu{
		height: 0;
		overflow: hidden;
		-webkit-transition: all .5s ease;
		   -moz-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		     -o-transition: all .5s ease;
		        transition: all .5s ease;
	}
	.showed_menu_active{
		// height: calc(100vh - 6rem);
		height: 100%;
		min-height: calc(100vh - 7rem);
		// overflow: auto;

	}
	.title{
		position: fixed;
		height: 6rem;
		width: 100%;
		top: 0;
		right: 0;
		z-index: 2;
		background: #43B02A;
		max-width: 18rem;
		overflow: hidden;
		cursor: pointer;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
		h1{
			position: absolute;
			left: 2rem;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
			color: #fff;
			top: calc(50% + 0.3rem);
			transform: translateY(-50%);
			padding-left: 2.3rem;
			white-space: nowrap;
			font-size: 1.5rem;
			span{
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			svg{
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				max-width: 1.5rem;
				path{
					fill: #fff;
				}
			}
		}
	}
	a{
		text-decoration: none;
	}
	.optimalroute{
		display: block;
		width: calc(100% - 0.4rem);
		margin: auto;
		background: #53565A;
		border-radius: 0.5rem;
		margin-bottom: 0.2rem;
		min-height: 4.4rem;
		position: relative;
		padding-left: 4.1rem;
		padding-top: 0.6rem;
		overflow: hidden;
		display: block;
		svg{
			position: absolute;
			left: 1.8rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			max-width: 1.5rem;
			path{
				fill: #fff;
			}
		}
		h2{
			font-family: 'Oswald', sans-serif;
			font-size: 0.7rem;
			font-weight: 500;
			color: #fff;
			white-space: nowrap;
		}
		h1{
			font-family: 'Oswald', sans-serif;
			font-size: 1.8rem;
			font-weight: 400;
			color: #fff;
			margin-top: -0.3rem;
			white-space: nowrap;
		}
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.disabled_a{
		background: #CACAC7;
		// pointer-events: none;
	}
	.optimalroute:hover{
		background: #494B4F;
	}
	.disabled_a:hover{
		background: #CACAC7;
	}
	
	.dropf{
		margin-bottom: 0.3rem;
		.addm{
			margin-top: 0.5rem;
		}
		.clickable{
			padding-left: 4.3rem;
			position: relative;
			cursor: pointer;
			-webkit-transition: all .25s ease;
			-moz-transition: all .25s ease;
			-ms-transition: all .25s ease;
			-o-transition: all .25s ease;
			transition: all .25s ease;
			h2{
				font-weight: 300;
				line-height: 3rem;
				font-size: 1.25rem;
				color: #fff;
				font-family: 'Oswald', sans-serif;
				white-space: nowrap;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			svg{
				position: absolute;
				right: 2rem;
				width: 0.631rem;
				top: calc(50% + 0.2rem);
				transform: translateY(-50%) rotate(180deg);
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
				path{
					fill: #fff;
				}
			}
		}
		a{
			text-decoration: none;
		}


		.boxes{
			max-height: 0;
			overflow: hidden;
			.eachone{
				padding-bottom: 1.7rem;
			}
			.directions_max_h{
				max-height: 46rem;
				overflow: auto;
				@media(max-height: 60rem){
					max-height: calc(100vh - 20rem);
				}
				@media(max-width: 772px){
					max-height: calc(100vh - 20rem);
				}
			}
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		.total_optimal{
			display: flex;
			border-bottom-left-radius: 0.5rem;
			border-bottom-right-radius: 0.5rem;
			.total{
				width: 60%;
				background: #F2050D;
				min-height: 4.4rem;
				position: relative;
				padding-left: 4.1rem;
				padding-top: 0.6rem;
				padding-bottom: 0.6rem;
			}
			.optimal{
				width: 40%;
				background: #2A6E1A;
				min-height: 4.4rem;
				position: relative;
				padding-left: 1.5rem;
				padding-top: 0.6rem;
				padding-bottom: 0.6rem;
			}
			svg{
				position: absolute;
				left: 1.8rem;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				max-width: 1.5rem;
				path{
					fill: #fff;
				}
			}
			h2{
				font-family: 'Oswald', sans-serif;
				font-size: 0.7rem;
				font-weight: 500;
				color: #fff;
				white-space: nowrap;
				span{
					font-weight: 300;
				}
			}
			h1{
				font-family: 'Oswald', sans-serif;
				font-size: 1.8rem;
				font-weight: 400;
				color: #fff;
				margin-top: -0.3rem;
				white-space: nowrap;
			}
		}
		.box{
			display: block;
			width: calc(100% - 0.4rem);
			margin: auto;
			min-height: 6.6rem;
			background: #43B02A;
			border-radius: 0.5rem;
			position: relative;
			margin-bottom: 0.2rem;
			overflow: hidden;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;

			input{
				position: absolute;
				background: #fff;
				margin: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 0;
				width: 100%;
				font-weight: 300;
				border-radius: 0.5rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				font-family: 'Oswald', sans-serif;
				font-size: 1rem;
				border: 0;
				border-radius: 0;
				padding: 0.3rem 0.5rem 0.3rem 4.1rem;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}

			.multiselect{
				position: relative;
				background: #fff;
				margin: 0;
				border: 0;
				width: 100%;
				font-weight: 300;
				border-radius: 0.5rem;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				font-family: 'Oswald', sans-serif;
				font-size: 1rem;
				border: 0;
				border-radius: 0;
				min-height: 2.1rem;
				// margin-top: 0.5rem;
				
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				.placeholder_p{
					font-family: 'Oswald', sans-serif;
					font-size: 1rem;
					color: #53565A;
					padding: 0.3rem 0.5rem 0.3rem 4.1rem;
					background: #fff;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
				.arrowright{
					width: 1rem;
					position: absolute;
					right: 1.8rem;
					top: 0.4rem;
					padding: 0 0.15rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					cursor: pointer;
					z-index: 99;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				.listforselect{
					position: relative;
					max-height: 0;
					overflow-x: hidden;
					-webkit-transition: all .25s ease;
					-moz-transition: all .25s ease;
					-ms-transition: all .25s ease;
					-o-transition: all .25s ease;
					transition: all .25s ease;
					p{
						font-family: 'Oswald', sans-serif;
						font-size: 1rem;
						color: #53565A;
						padding: 0.3rem 0.5rem 0.3rem 4.1rem;
						background: #fff;
						display: block;
						cursor: pointer;
						-webkit-transition: all .25s ease;
						   -moz-transition: all .25s ease;
						    -ms-transition: all .25s ease;
						     -o-transition: all .25s ease;
						        transition: all .25s ease;
					}
					p:hover{
						background: #E8F5E4;
					}
					.activep, .activep:hover{
						background: #D3ECCD;
					}
				}
			}

			.tit{
				min-height: 4.4rem;
				width: 100%;
				position: relative;
				padding-left: 4.1rem;
				padding-top: 0.6rem;
				padding-bottom: 0.6rem;
				overflow: hidden;
				svg{
					position: absolute;
					left: 1.8rem;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					max-width: 1.5rem;
					path{
						fill: #fff;
					}
				}
				h2{
					font-family: 'Oswald', sans-serif;
					font-size: 0.7rem;
					font-weight: 500;
					color: #fff;
					white-space: nowrap;
				}
				h1{
					font-family: 'Oswald', sans-serif;
					font-size: 1.8rem;
					font-weight: 400;
					color: #fff;
					margin-top: -0.3rem;
					white-space: nowrap;
				}
			}
		}
		.box_normal{
			display: block;
			width: calc(100% - 0.4rem);
			margin: auto;
			min-height: 4.4rem;
			background: #43B02A;
			border-radius: 0.5rem;
			position: relative;
			margin-bottom: 0.2rem;
			overflow: hidden;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			.tit{
				min-height: 4.4rem;
				width: 100%;
				position: relative;
				padding-left: 4.1rem;
				padding-top: 0.4rem;
				padding-bottom: 0.4rem;
				overflow: hidden;
				svg{
					position: absolute;
					left: 1.8rem;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					max-width: 1.5rem;
					path{
						fill: #fff;
					}
				}
				.smw{
					max-width: 1.1rem;
				}
				.smh{
					max-height: 1.1rem;
					max-width: 1.26rem;
				}
				.smw2{
					max-width: 1.5rem;
					left: 1.6rem;
				}
				.smh2{
					max-height: 1.5rem;
					max-width: 1.03rem;
					left: 1.9rem;
				}
				.smh3{
					max-width: 1.3rem;
					max-height: 1.3rem;
				}
				.smh4{
					max-height: 1.5rem;
				}
				h2{
					font-family: 'Oswald', sans-serif;
					font-size: 0.7rem;
					font-weight: 500;
					color: #fff;
					white-space: nowrap;
					span{
						font-weight: 300;
					}
				}
				h1{
					font-family: 'Oswald', sans-serif;
					font-size: 1.8rem;
					font-weight: 700;
					color: #fff;
					margin-top: -0.3rem;
					white-space: nowrap;
				}
				.smaller_mobile{
					font-weight: 400;
				}
				h3{
					font-family: 'Oswald', sans-serif;
					font-size: 1rem;
					line-height: 1.2rem;
					font-weight: 500;
					color: #fff;
					white-space: nowrap;
					span{
						font-weight: 300;
					}
				}
			}
		}
		.multi_select_list_box_active{
			.multiselect{
				.listforselect{
					max-height: 10.4rem;
					overflow: auto;
				}
				.arrowright{
					transform: rotate(180deg);
				}
			}
		}
		.box:hover{
			background: #3B9A25;
		}
		.green1{
			background: #43B02A;
		}
		.green1:hover{
			background: #3B9A25;
		}
		.darker_green{
			background: #2A6E1A;
		}
		.green2{
			background: #3B9A25;
		}
		.green3{
			background: #328420;
		}
		.multi_select_list_box_active:hover{
			background: #43B02A;
		}
		.white_c{
			background: #fff;
			.tit{
				svg{
					path{
						fill: #3EC856;
					}
				}
				h1,h2{
					color: #3EC856;
				}
			}
		}

		.white_c:hover{
			background: #e8f5e4;
			.tit{
				svg{
					path{
						fill: #3EC856;
					}
				}
				h1,h2{
					color: #3EC856;
				}
			}
		}


		.white_c_to_red{
			.tit{
				svg{
					path{
						fill: #F2050D;
					}
				}
				h1,h2{
					color: #F2050D;
				}
			}
		}
		.white_c_to_red:hover{
			background: #FCDFE0;
			.tit{
				svg{
					path{
						fill: #F2050D;
					}
				}
				h1,h2{
					color: #F2050D;
				}
			}
		}

		.white_c_to_red{
			.tit{
				svg{
					path{
						fill: #F2050D;
					}
				}
				h1,h2{
					color: #F2050D;
				}
			}
		}
		.white_c_to_red:hover{
			background: #FCDFE0;
			.tit{
				svg{
					path{
						fill: #F2050D;
					}
				}
				h1,h2{
					color: #F2050D;
				}
			}
		}

		.white_c_to_green{
			.tit{
				svg{
					path{
						fill: #3EC856;
					}
				}
				h1,h2{
					color: #3EC856;
				}
			}
		}
		.white_c_to_green:hover{
			background: #E8FCEB;
			.tit{
				svg{
					path{
						fill: #3EC856;
					}
				}
				h1,h2{
					color: #3EC856;
				}
			}
		}

		.white_c_to_yellow{
			.tit{
				svg{
					path{
						fill: #FDB514;
					}
				}
				h1,h2{
					color: #FDB514;
				}
			}
		}
		.white_c_to_yellow:hover{
			background: #FEF7E1;
			.tit{
				svg{
					path{
						fill: #FDB514;
					}
				}
				h1,h2{
					color: #FDB514;
				}
			}
		}

		.darker_green:hover{
			background: #2A6E1A;
		}
		.blue_bg{
			background: #3B8EDE;
		}
		.blue_bg:hover{
			background: #3B8EDE;
		}
		.blue_bg_darked{
			background: #3B8EDE;
		}
		.blue_bg_darked:hover{
			background: #347CC2;
		}
		.route_finished, .route_finished:hover{
			background: #6CAAE6;
		}
		.active_finished, .active_finished:hover{
			background: #2C6BA7;
		}
		
	}
	.dropf_active{

		.clickable svg{
			transform: rotate(0deg);
			margin-top: -0.2rem;	
		}
		.clickable_back svg{
			transform: translateY(-50%) rotate(180deg);
			margin-top: 0rem;	
		}
		.boxes{
			max-height: 100%;
		}
	}
}
.work_panel{
	max-width: 100%;
	background: #fff;
	min-height: 100vh;
	width: 100%;
	position: relative;

	.dashbouard_panel{
		min-height: calc(100vh - 6rem);
		background: #F8F8F8;
		width: 100%;
		margin-top: 6rem;
		padding: 0.2rem;
		.two_separate_area{
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-top: 0.2rem;
			.l{
				min-height: calc(100vh - 22.7rem);
				border-radius: 0.5rem;
				width: calc(66.666% - 0.1rem);
				.row1{
					display: flex;
					justify-content: space-between;
					max-height: 4.4rem;
					.box{
						min-height: 4.4rem;
						border-radius: 0.5rem;
						background: #989895;
						width: calc(25% - 0.15rem);
						padding-right: 0.2rem;
						position: relative;
						padding-left: 4rem;
						display: flex;
						align-items: center;
						justify-content: left;
						svg{
							max-width: 2rem;
							position: absolute;
							left: 1.5rem;
							top: 50%;
							transform: translateY(-50%);
						}
						.mw18{
							max-width: 1.8rem;
						}
						.mw16{
							max-width: 1.6rem;
						}
						.mw14{
							max-width: 1.4rem;
						}
						.mw11{
							max-width: 1.1rem;
						}
						h2{
							font-family: 'Oswald', sans-serif;
							font-weight: 500;
							font-size: 0.7rem;
							line-height: 140%;
							color: #FFFFFF;
							span{
								font-weight: 300;
							}
						}
						h1{
							font-family: 'Oswald', sans-serif;
							font-weight: 700;
							font-size: 1.8rem;
							line-height: 110%;
							color: #FFFFFF;
						}
					}
					.bg_g{ background: #3EC856; }
					.bg_y{ background: #FDB514; }
					.bg_r{ background: #F2050D; }
				}
				.diagram_pl{
					width: 100%;
					height: 30rem;
					background: url(../img/diagram_pl.png) no-repeat top left; 
					  -webkit-background-size: cover;
					  -moz-background-size: cover;
					  -o-background-size: cover;
					  background-size: cover;
				}
				.scrollablecont{
					overflow: auto;
					height: calc(100vh - 27.3rem);
					margin-top: 0.2rem;
					padding-bottom: 3.1rem;
				}
				.row2{
					display: flex;
					justify-content: space-between;
					margin-top: 0.2rem;
					.box{
						border-radius: 0.5rem;
						width: calc(25% - 0.15rem);
						.totalbox{
							min-height: 6rem;
							background: #B1B1AE;
							border-radius: 0.5rem;
							width: 100%;
							padding-left: 6.4rem;
							position: relative;
							display: flex;
							align-items: center;
							justify-content: left;
							margin-bottom: 0.2rem;
							svg{
								max-width: 3.5rem;
								position: absolute;
								left: 1.5rem;
								top: 50%;
								transform: translateY(-50%);
							}
							h2{
								font-family: 'Oswald', sans-serif;
								font-weight: 500;
								font-size: 0.8rem;
								line-height: 140%;
								color: #FFFFFF;
								span{
									font-weight: 300;
								}
							}
							h1{
								font-family: 'Oswald', sans-serif;
								font-weight: 700;
								font-size: 2rem;
								line-height: 110%;
								color: #FFFFFF;
							}
						}
					}
					.box_list{
						background: #fff;
						border-radius: 0.5rem;
						.tit{
							background: #B1B1AE;
							font-family: 'Oswald', sans-serif;
							font-weight: 500;
							font-size: 1rem;
							line-height: 2.2rem;
							color: #FFFFFF;
							padding: 0 2rem;
							border-top-left-radius: 0.5rem;
							border-top-right-radius: 0.5rem;
						}
						.li_p{
							font-family: 'Oswald', sans-serif;
							font-weight: 300;
							font-size: 1rem;
							line-height: 2rem;
							color: #53565A;
							padding: 0 2rem;
						}
					}
				}
			}
			.r{
				min-height: calc(100vh - 22.7rem);
				border-radius: 0.5rem;
				width: calc(33.333% - 0.1rem);
				display: flex;
				justify-content: space-between;
			}
		}
		.boxes6{
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-top: 0.2rem;
			.leftb{
				min-height: 4.4rem;
				border-radius: 0.5rem;
				width: calc(66.666% - 0.1rem);
				display: flex;
				justify-content: space-between;
				.box{
					min-height: 4.4rem;
					border-radius: 0.5rem;
					background: #989895;
					width: calc(25% - 0.15rem);
					position: relative;
					padding-right: 0.2rem;
				}
			}
			.rightb{
				min-height: 4.4rem;
				border-radius: 0.5rem;
				background: transparent;
				width: calc(33.333% - 0.1rem);
				display: flex;
				justify-content: space-between;
				.box{
					min-height: 4.4rem;
					border-radius: 0.5rem;
					background: #989895;
					width: calc(50% - 0.1rem);
					position: relative;
					padding-right: 0.2rem;
				}
			}
			.box{
				position: relative;
				padding-left: 4rem;
				display: flex;
				align-items: center;
				justify-content: left;
					padding-right: 0.2rem;
				svg{
					max-width: 2rem;
					position: absolute;
					left: 1.5rem;
					top: 50%;
					transform: translateY(-50%);
				}
				.mw18{
					max-width: 1.8rem;
				}
				.mw16{
					max-width: 1.6rem;
				}
				.mw14{
					max-width: 1.4rem;
				}
				.mw11{
					max-width: 1.1rem;
				}
				h2{
					font-family: 'Oswald', sans-serif;
					font-weight: 500;
					font-size: 0.7rem;
					line-height: 140%;
					color: #FFFFFF;
					span{
						font-weight: 300;
					}
				}
				h1{
					font-family: 'Oswald', sans-serif;
					font-weight: 700;
					font-size: 1.8rem;
					line-height: 110%;
					color: #FFFFFF;
				}
			}
		}
		.council_name{
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-top: 0.5rem;
			.left_box{
				min-height: 8rem;
				border-radius: 0.5rem;
				background: #B1B1AE;
				width: calc(66.666% - 0.1rem);
				display: flex;
				align-items: center;
				justify-content: left;
				padding-left: 7.7rem;
				position: relative;
				z-index: 9999999;
				svg{
					max-width: 4rem;
					position: absolute;
					left: 1.8rem;
					top: 50%;
					transform: translateY(-50%);
				}
				h1{
					font-family: 'Oswald', sans-serif;
					font-weight: 700;
					font-size: 3.6rem;
					line-height: 3.6rem;
					color: #FFFFFF;
				}
				.seletbox{
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: 100%;
					max-width: calc(25% - 0.1rem);
					background: #E5E5E3;
					border-top-right-radius: 0.5rem;
					border-top-right-radius: 0.5rem;
					border-bottom-right-radius: 0.5rem;
					.custom-select-trigger{
						border-top-right-radius: 0.5rem;
					}
				}
			}
			.right_box{
				min-height: 8rem;
				border-radius: 0.5rem;
				background: transparent;
				width: calc(33.333% - 0.1rem);
				display: flex;
				justify-content: space-between;
				.box_s{
					min-height: 8rem;
					border-radius: 0.5rem;
					background: #B1B1AE;
					width: calc(50% - 0.1rem);
					position: relative;
					.contentahead:before{
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						height: 2rem;
						background: #E5E5E3;
						bottom: -2rem;
						border-bottom-left-radius: 0.5rem;
						border-bottom-right-radius: 0.5rem;
					}
					.contentahead{
						display: flex;
						align-items: center;
						justify-content: left;
						padding-left: 6.4rem;
						height: 6rem;
						background: #B1B1AE;
						position: relative;
						border-radius: 0.5rem;
						padding-bottom: 0.5rem;
						svg{
							position: absolute;
							left: 2rem;
							top: calc(50% - 0rem);
							transform: translateY(-50%);
							max-width: 2.97rem;
						}
						h2{
							font-family: 'Oswald', sans-serif;
							font-size: 0.8rem;
							font-weight: 500;
							line-height: 2rem;
							color: #fff;
							margin: 0;
						}
						h1{
							font-family: 'Oswald', sans-serif;
							font-size: 2rem;
							font-weight: 700;
							line-height: 2rem;
							color: #fff;
							margin: 0;
						}
					}
					.seletbox{
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 100%;
						max-width: 100%;
						background: transparent;
						border-top-right-radius: 0.5rem;
						border-bottom-right-radius: 0.5rem;
						border-bottom-left-radius: 0.5rem;
						border-top-left-radius: 0.5rem;
							border-radius: 0.5rem;
						.custom-select-trigger{
							border-radius: 0.5rem;
							background: transparent;
						}
					}
				}

			}
		}
		.title_row{
			position: relative;
			display: flex;
			justify-content: space-between;

			.title{
				min-height: 3rem;
				border-radius: 0.5rem;
				background: #fff;
				width: calc(66.666% - 0.1rem);
				h1{
					font-family: 'Oswald', sans-serif;
					font-weight: 300;
					font-size: 1.25rem;
					line-height: 3rem;
					color: #43B02A;
					padding-left: 3.8rem;
					span{
						margin-right: 0.2rem;	
					}
					svg{
						max-width: 1.25rem;
						position: absolute;
						left: 2rem;
						top: 50%;
						transform: translateY(-50%);
					}
					a{
						color: #989895;
						text-decoration: none;
						margin-right: 0.2rem;	
					}
				}
			}
			.period{
				min-height: 3rem;
				border-radius: 0.5rem;
				background: #fff;
				width: calc(33.333% - 0.1rem);
				display: flex;
				justify-content: space-between;
				p{
					display: inline-block;
					font-family: 'Oswald', sans-serif;
					font-weight: 300;
					font-size: 1.25rem;
					line-height: 3rem;
					color: #53565A;
					padding-left: 2rem;
					white-space: nowrap;
					padding-right: 2rem;
				}
				input{
					background: #F8F8F8;
					border-radius: 0.5rem;
					max-height: 2.2rem;
					font-family: 'Oswald', sans-serif;
					font-weight: 300;
					font-size: 1rem;
					color: #53565A;
					line-height: 1rem;
					border: 0;
					width: 100%;
					text-align: center;
					max-width: calc(100% - 10rem);
					margin-right: 2rem;
					margin-top: 0.4rem;
					padding-left: 2rem;
					padding-right: 4rem;
					

					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6.328' height='3.399' viewBox='0 0 6.328 3.399'%3E%3Cpath id='Path_372' data-name='Path 372' d='M9.774,3.5l-2.8,2.682a.406.406,0,0,1-.256.111.372.372,0,0,1-.243-.1L3.663,3.5A.351.351,0,1,1,4.149,3L6.719,5.459,9.288,3a.351.351,0,0,1,.486.505Z' transform='translate(-3.555 -2.898)' fill='%2353565a'/%3E%3C/svg%3E%0A") no-repeat calc(100% - 2rem) center / 0.65rem, linear-gradient( #F8F8F8 100%, #F8F8F8 100%);
				}
			}
		}
	}

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.work_panel_bg_map{
	background: url(../img/mapplc.png) no-repeat top left; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.leftpanel{
	max-width: 18rem;
	background: #53565A;
	min-height: 100vh;
	width: 100%;
	position: relative;
	padding-top: 6rem;
	z-index: 99999998 !important;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	.logo_pl{
		position: fixed;
		height: 6rem;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background: #53565A;
		max-width: 18rem;
		cursor: pointer;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
		img{
			-webkit-transition: all .25s ease;
			-moz-transition: all .25s ease;
			-ms-transition: all .25s ease;
			-o-transition: all .25s ease;
			transition: all .25s ease;
		}
		img{
			max-width: 7.75rem;
			width: 100%;
			position: absolute;
			left: 2rem;
			top: calc(50% + 0.2rem);
			transform: translateY(-50%);
		}
		.logo_smaller{
			max-width: 2.5566rem;
			opacity: 0;
			margin-top: 0.2rem;
		}
	}
	.on_mobile_nav{
		height: calc(100vh - 6rem);
		padding-bottom: 1rem;
	    overflow: auto;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	*::-webkit-scrollbar {
	  width: 3px;
	}

	/* Track */
	*::-webkit-scrollbar-track {
	  background: #CACAC7; 
	}
	 
	/* Handle */
	*::-webkit-scrollbar-thumb {
	  background: #2A2B2D; 
	}

	/* Handle on hover */
	*::-webkit-scrollbar-thumb:hover {
	  background: #2A2B2D; 
	}

	.navbar{
		padding: 0;
		margin: 0;
		list-style-type: none;
		min-height: calc(100vh - 19.3rem);
		margin-bottom: 3rem;
		overflow: hidden;
		li{
			a{
				font-family: 'Oswald', sans-serif;
				font-size: 1.25rem;
				color: #fff;
				text-decoration: none;
				padding-left: 4.6rem;
				line-height: 3rem;
				display: block;
				position: relative;
				min-height: 3rem;
				font-weight: 300;
				span{
					white-space: nowrap;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
				.icon{
					width: 2rem;
					height: 3rem;
					display: inline-block;

					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					svg{
						position: absolute;
						left: 0;
						right: 0;
						margin: auto;
						display: block;
						top: 50%;
						transform: translateY(-50%);
						height: 1.5rem;
						path{
							fill: #fff;
						}
					}
					.h10{
						height: 1rem;
					}
					.dashboard{
						height: 1.125rem;
					}
				}
				.arrow{
					position: absolute;
					right: 2rem;
					top: calc(50% + 0.2rem);
					transform: translateY(-50%);
					width: 0.631rem;

					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
			}
			a:hover{
				background: #3E4144;
				// color: #5BBA45;
				.icon{
					svg{
						path{
							// fill: #5BBA45;
						}
					}
				}
			}
			.activea{
				background: #2A2B2D;
				color: #5BBA45;
				.icon{
					svg{
						path{
							fill: #5BBA45;
						}
					}
					.h10{
						height: 1rem;
					}
				}
			}

			.dropdownelements{
				overflow: hidden;
				max-height: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
				a{
					font-size: 1rem;
					line-height: 1.8rem;
					min-height: 1.8rem;
					font-weight: 300;
				}
			}
		}
		.dropwdown{
			a{
				.arrow{
					top: calc(50% + 0.05rem);
				}
			}
		}
		.dropwdown_active{
			a{
				.arrow{
					transform: rotate(180deg);
					margin-top: -0.4rem;	
					top: calc(50% + 0.3rem);
				}
			}
			.dropdownelements{
				max-height: 40rem;
			}
		}
	}
	.downnavbar{
		min-height: 9.199rem;
		margin-bottom: 0;
		padding-bottom: 2rem;
		vertical-align: bottom;
		display: flex;
		flex-direction: row;
		flex: 0 0 0;
		  flex-wrap: wrap;
		  align-self: flex-end;
		  justify-content: normal;
		  align-content: end;
		li{
			display: inline-block;
			width: 100%;
			flex: 1 1 auto;
		}
		li a{
			font-size: 1rem;
			line-height: 1.8rem;
			min-height: 1.8rem;
			font-weight: 200;
		}
	}
}
.top_nav{
	position: fixed;
	left: 18rem;
	right: 18rem;
	min-height: 6rem;
	background: rgba(255, 255, 255, 0.9);
	top: 0;
	z-index: 2;
	z-index: 9999999;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	.notification_c{
		.notification_c_icon{
			svg{
				height: 1.5rem;
				position: absolute;
				left: 2rem;
				top: calc(50% + 0.3rem);
				transform: translateY(-50%);
				path{
					fill: #fdb514;
				}
			}
			.redone{
				display: none;
			}
			.greenone{
				display: none;
			}
		}
		.notification_c_icon:hover{
			cursor: pointer;
			svg{
				path{
					fill: #DD9E12;
				}
			}
		}

		.notification_c_icon_red{
			svg{
				display: none;
				path{
					fill:#F2050D;
				}
			}
			.redone{
				display: block;
				margin-left: 0.2rem;
			}
		}
		.notification_c_icon_red:hover{
			svg{
				path{
					fill:#D4040B;
				}
			}
		}

		.notification_c_icon_green{
			svg{
				display: none;
				path{
					fill:#47E562;
				}
			}
			.greenone{
				display: block;
				margin-left: 0.2rem;
			}
		}
		.notification_c_icon_green:hover{
			svg{
				path{
					fill:#3EC856;
				}
			}
		}

		ul{
			background: #FDB514;
			position: fixed;
			top: 6rem;
			left: 18rem;
			padding: 0;
			margin: 0;

			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			li{
				list-style-type: none;
				a{
					padding-left: 4.3rem;
					padding-right: 3rem;
					text-decoration: none;
					font-family: 'Oswald', sans-serif;
					font-size: 1rem;
					color: #fff;
					line-height: 2rem;
					font-weight: 300;
					position: relative;
					display: block;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				svg{
					display: inline-block;
					height: 1rem;
					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					path{
						fill: #fff;
					}
				}
				.redone{
					margin-left: 0.2rem;
				}
				a:hover{
					background: #DD9E12;
				}

				.red_c{
					background: #F2050D;
				}
				.red_c:hover{
					background: #D4040B;
				}

				.green_c{
					background: #47E562;
				}
				.green_c:hover{
					background: #3EC856;
				}
			}
		}
	}
	.notification_c_active{
		ul{
			opacity: 1;
			visibility: visible;
		}
	}

	.searchbar_menu{
		position: absolute;
		left: 6rem;
		top: calc(50% + 0.3rem);
		transform: translateY(-50%);
		svg{
			height: 1.5rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 0;
		}
		input{
			font-family: 'Oswald', sans-serif;
			font-size: 1.25rem;
			border: 0;
			padding: 0 1rem 0 2rem;
			min-height: 3rem;
			line-height: 3rem;
			min-width: 15rem;
			font-weight: 300;
			position: relative;
			z-index: 2;
			background: transparent;
		}
	}
	.username_options{
		.clickable{
			position: absolute;
			right: 2rem;
			top: calc(50% + 0.3rem);
			transform: translateY(-50%);
			color: #000000;
			font-family: 'Oswald', sans-serif;
			font-size: 1.25rem;
			padding-right: 4.7rem;
			line-height: 3rem;
			font-weight: 300;
			cursor: pointer;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			.placeforimg{
				position: absolute;
				right: 1.2rem;
				width: 3rem;
				height: 3rem;
				border-radius: 100%;
				top: 50%;
				transform: translateY(-50%);
				img{
					display: block;
					max-width: 100%;
					width: 100%;
				}
			}
			svg{
				position: absolute;
				right: 0rem;
				top: calc(50% + 0.2rem);
				transform: translateY(-50%);
				width: 0.631rem;
				transform: rotate(180deg);
				margin-top: -0.2rem;

				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
		}
		.clickable:hover{
			color: #5BBA45;
		}

		ul{
			background: #53565A;
			position: fixed;
			top: 6rem;
			right: 18rem;
			padding: 0;
			margin: 0;

			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			li{
				list-style-type: none;
				a{
					padding-left: 4.3rem;
					padding-right: 3rem;
					text-decoration: none;
					font-family: 'Oswald', sans-serif;
					font-size: 1rem;
					color: #fff;
					line-height: 2rem;
					font-weight: 300;
					position: relative;
					display: block;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
				svg{
					display: inline-block;
					height: 1rem;
					position: absolute;
					left: 2rem;
					top: 50%;
					transform: translateY(-50%);
					path{
						fill: #fff;
					}
				}
				a:hover{
					background: #494B4F;
				}
			}
		}
	}
	.username_options_active{
		ul{
			opacity: 1;
			visibility: visible;
		}
		.clickable{
			svg{
				transform: rotate(0deg);
				margin-top: 0;
			}
		}
	}
}


.leftmenu_sm{
	.footerarea{
		left: 6rem;
	}
	.leftpanel{
		max-width: 6rem;
		.logo_pl{
			max-width: 6rem;
			overflow: hidden;
			.logo{
				opacity: 0;
			}
			.logo_smaller{
				opacity: 1;
			}
		}
		.navbar li a{
			span{
				opacity: 0;
			}
		}
		.navbar .dropwdown a .arrow{
			right: 0.8rem;
			max-width: 0.8rem;
		}
	}
	.top_nav{
		left: 6rem;
		.notification_c ul{
			left: 6rem;
		}
	}
	.work_panel{
		// max-width: calc(100% - 24rem);
		left: 0rem;

	}	
	.leftpanel .logo_pl img, .leftpanel .navbar li a .icon{
		left: 1.85rem;
	}
}

.rightmenu_sm{
	.footerarea{
		right: 6rem;
	}
	.right_nav .title h1{
		left: 0;
		right: 0;
		svg{
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	.right_nav{
		max-width: 6rem;
	}
	.top_nav .username_options ul{
		right: 6rem;
	}
	.top_nav{
		right: 6rem;
	}
	.work_panel{
		// max-width: calc(100% - 24rem);
		right: 0rem;
	}
	.title{
		max-width: 6rem;
		h1{
			span{
				opacity: 0;
			}
		}
	}
	.right_nav .dropf .clickable{
		padding-left: 0;
		h2{
			opacity: 0;
			overflow: hidden;
		}
	}
	.right_nav .dropf .clickable svg{
		right: 0;
		left: 0;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.right_nav .dropf .box .tit h1, .right_nav .dropf .box .tit h2, .right_nav .dropf .box .tit h3{
		opacity: 0;
		display: none;
	}
	.right_nav .dropf .box_normal .tit{
		h1,h2{
			opacity: 0;
			display: none;
		}
	}
	.right_nav .optimalroute, .right_nav .dropf .box{
		min-height: 4.4rem;
		max-height: 4.4rem;
		height: 4.4rem;
	}
	.right_nav .dropf .box_normal{
		min-height: 4rem;
		max-height: 4.4rem;
	}
	.right_nav .dropf .box input{
		opacity: 0;
	}
	.right_nav .optimalroute svg, .right_nav .dropf .box .tit svg, .right_nav .dropf .box_normal .tit svg{
		left: 0;
		right: 0;
		margin: auto;
		display: block;
	}
	.right_nav .optimalroute{
		h1,h2{
			opacity: 0;
		}
	}
	@media(min-width: 773px){
		.right_nav .dropf .box .multiselect{
			display: none;
		}
		.right_nav .dropf .total_optimal .optimal{
			display: none;
		}
		.right_nav .dropf .total_optimal .total{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			height: 4.4rem;

			h2, h1{
				display: none;
			}
			svg{
				left: 0;
				right: 0;
				margin: auto;
			}
		}
	}
}

.bothmenu_ac{
	.work_panel{
		// max-width: calc(100% - 12rem);
		right: 0rem;
		left: 0rem;
	}
	.footerarea{
		left: 6rem;
		right: 6rem;
	}
}

.leaflet-top .leaflet-control{
	margin-top: 7rem !important;
}
.leaflet-right .leaflet-control{
	margin-bottom: 3rem !important;
}





.justlikeplh{
	padding: 50px;
	background: skyblue;
}
.popup_map{
	width: 16.7rem;
	// min-height: 23.6rem;
	padding-bottom: 1.5rem;
	background: #53565A;
	border-radius: 0.5rem;
	border: 0.1rem solid #fff;
	position: relative;
	margin-left: 0.35rem;
	.arrow_popup{
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1.3026rem;
		height: 1.3rem;
		margin: auto;
		-webkit-filter: drop-shadow(0px 1px 0 #fff) ;
		  filter: drop-shadow(0px 1px 0 #fff) ;
	}
	.popup_map:after {content: '';background: #53565A;width: 0.7rem;height: 10px;position: absolute;bottom: -3px;left: 0;right: 0;margin: auto;}
	.items{
		padding: 2rem 1.0rem;
		display: flex;
		justify-content: space-between;
		.item{
			width: 25%;
			img{
				margin: auto;
				display: block;
				position: relative;
				z-index: 2;
			}
			.placeforimg{
				height: 3.2rem;
				overflow: hidden;
			}
			p{
				font-family: 'Oswald', sans-serif;
				font-weight: 500;
				font-size: 0.9rem;
				line-height: 1rem;
				color: #fff;
				margin: 0;
				// margin-top: 0.5rem;
				text-align: center;
				letter-spacing: -0.05rem;
			}
		}
		.item1{
			position: relative;
			img{
				width: 2.45rem;
			}
			.col_area{
				position: absolute;
			    height: 2rem;
			    width: 1.8rem;
			    top: 0.7rem;
			    left: 0;
			    right: 0;
			    margin: auto;
			    border-bottom-right-radius: 4px;
			    border-bottom-left-radius: 4px;
			    overflow: hidden;
			}
			.color{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.orange_c{
				background: #fdb514;
			}
			.red_c{
				background: #F2050D;
			}
			.green_c{
				background: #47E562;
			}
		}
		.item2{
			position: relative;
			img{
				width: 1.4rem;
			}
			.col_area{
				position: absolute;
			    height: 2.7rem;
			    width: 0.98rem;
			    top: 0rem;
			    left: -0.01rem;
			    right: 0;
			    margin: auto;
			    border-bottom-right-radius: 4px;
			    border-bottom-left-radius: 4px;
			    border-top-right-radius: 0.5rem;
			    border-top-left-radius: 0.5rem;
			    overflow: hidden;
			}
			.color{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.orange_c{
				background: #fdb514;
			}
			.red_c{
				background: #F2050D;
			}
			.green_c{
				background: #47E562;
			}
		}

		.item3{
			position: relative;
			.bin_top{
				position: absolute;
				width: 2.368rem;
				left: -0.2rem;
				right: 0;
				top: -0.3rem;
			}
			.bing_without_top{
				width: 2.18rem;
				margin-top: 0.6rem;
			}
			.col_area{
				position: absolute;
			    height: 2rem;
			    width: 1.8rem;
			    top: 0.7rem;
			    left: 0;
			    right: 0;
			    margin: auto;
			    border-bottom-right-radius: 4px;
			    border-bottom-left-radius: 4px;
			    overflow: hidden;
			}
			.color{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.orange_c{
				background: #fdb514;
			}
			.red_c{
				background: #F2050D;
			}
			.green_c{
				background: #47E562;
			}
		}
		.item4{
			position: relative;
			img{
				width: 1.625rem;
			}
			.col_area{
				position: absolute;
			    height: 2.4rem;
			    width: 1.4rem;
			    top: 0.4rem;
			    left: 0;
			    right: 0;
			    margin: auto;
			    border-bottom-right-radius: 4px;
			    border-bottom-left-radius: 4px;
			    overflow: hidden;
			}
			.color{
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			.orange_c{
				background: #fdb514;
			}
			.red_c{
				background: #F2050D;
			}
			.green_c{
				background: #47E562;
			}
			.full{
				background: #47E562;
				height: 100%;
			}
			.half{
				background: #fdb514;
				height: 50%;
			}
			.low{
				background: #F2050D;
				height: 25%;
			}
			.flat{
				background: #F2050D;
				height: 0%;
			}
		}
	}
	.cont{
		padding: 0 1.5rem 1.5rem 1.5rem;
		min-height: unset;
		h2{
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 1.6rem;
			color: #fff;
			margin-bottom: 0.5rem;
		}
		p{
			margin: 0;
			padding: 0;
			font-family: 'Oswald', sans-serif;
			font-weight: 400;
			font-size: 0.8rem;
			line-height: 0.9rem;
			color: #fff;
			span{
				font-weight: 600;
			}
		}
		.id_p{
			margin-top: 0.5rem;
			p{
				font-weight: 300;
			}
		}
	}
	.options{
		display: flex;
		justify-content: space-between;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		position: relative;
		a{
			font-family: 'Oswald', sans-serif;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1rem;
			color: #fff;
			display: inline-block;
			text-decoration: none;
			svg{
				height: 1rem;
				margin-right: 0.3rem;
				path{
					fill: #fff;
				}
			}
		}
		a:hover{
			color: #F2F2F1;
			svg{
				path{
					fill: #F2F2F1;
				}
			}
		}

		.slide_switcher2{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 1.751rem;
			height: 0.875rem;
			right: 1.5rem;
			cursor: pointer;
			z-index: 9999;
			span{
				position: absolute;
				font-family: 'Oswald', sans-serif;
				font-weight: 300;
				font-size: 1rem;
				line-height: 1rem;
				color: #fff;
				top: 50%;
				transform: translateY(-50%);
				right: 2rem;
			}
			.icons{
				position: relative;
				width: 1.751rem;
				height: 0.875rem;
				img{
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					position: absolute;
					right: 0;
				}
			}
		}
		.slide_switcher_off{
			.icon1{
				opacity: 0;
			}
			.icon2{
				opacity: 0;
			}
			.icon3{
				opacity: 1;
			}
		}
		.slide_switcher_on{
			.icon1{
				opacity: 1;
			}
			.icon2{
				opacity: 0;
			}
			.icon3{
				opacity: 0;
			}
		}
		.slide_switcher_flat{
			.icon1{
				opacity: 0 !important;
			}
			.icon2{
				opacity: 1 !important;
			}
			.icon3{
				opacity: 0 !important;
			}
		}

		.slide_switcher{
			margin-top: 0.3rem;
			padding-right: 1rem;
			#toggles {
			  width: 0.868rem;
			  margin: 0;
			  text-align: center;
			}
			input{
				opacity: 0;
				visibility: hidden;
				border: 0;
			}
			.ios-toggle,
			.ios-toggle:active {
			  position: absolute;
			  top: -50rem;
			  height: 0;
			  width: 0;
			  opacity: 0;
			  border: none;
			  outline: none;
			}
			.checkbox-label {
			  display: block;
			  position: relative;
			  padding: 0;
			  margin-bottom: 0;
			  // font-size: 1rem;
			  // line-height: 1rem;
			  width: 1.7rem;
			  height: 0.65rem;
			  border-radius: 0.5rem;
			  font-family: 'Oswald', sans-serif;
			  cursor: pointer;
			  border: 1px solid #fff;
			  box-shadow: none !important;
			}
			.checkbox-label:before {
			  content: "";
			  display: block;
			  position: absolute;
			  z-index: 1;
			    
			    width: 0.7rem !important;
			    height: 0.7rem !important;
			  	font-family: 'Oswald', sans-serif;
			  border-radius: 100%;
			  padding: 0;
			  top: -0.2rem;
			  left: -0.2rem;
			  right: auto;
			  background: #fff;
			  border: 0.1rem solid #fff;
			  -webkit-transition: all .25s ease;
			     -moz-transition: all .25s ease;
			      -ms-transition: all .25s ease;
			       -o-transition: all .25s ease;
			          transition: all .25s ease;
			}
			.checkbox-label:after {
			  content: attr(data-off);
			  display: block;
			  position: absolute;
			  z-index: 0;
			  top: -0.35rem;
			  right: 2.2rem;
			  padding: 0px;
			  height: 1rem;
			  width: 2rem;
			  text-align: right;
			  color: #fff;
			  white-space: nowrap;
			  font-family: 'Oswald', sans-serif;
			  text-transform: uppercase;
			}
			.ios-toggle:checked + .checkbox-label {
			  
			}
			.ios-toggle:checked + .checkbox-label:before {
			  left: calc(100% - 0.8rem);
			  background: #47E562;
			}
			.ios-toggle:checked + .checkbox-label:after {
			  content: attr(data-on);
			  
			}
			/* GREEN CHECKBOX */

			#checkbox1 + .checkbox-label {

			}
			#checkbox1:checked + .checkbox-label {
			  /*box-shadow*/
			  
			}
			#checkbox1:checked + .checkbox-label:after {
			}
			
		}
	}
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: transparent !important;
    color: unset !important;
    box-shadow: unset !important;
}
.leaflet-container a.leaflet-popup-close-button{
	display: none !important;
}
.blue_border{
	outline: 2px solid #508ED8;
	outline-offset: -2px;
	border-radius: 100%;
}
.marker-cluster-v2 div{
	padding-top: 0.3em;
	font-weight: 400;
}
.leaflet-pane.leaflet-overlay-pane path.leaflet-interactive {
    stroke: #fff !important;
    stroke-width: 2 !important;
}
.leaflet-pane.leaflet-overlay-pane path.leaflet-interactive[fill-rule="evenodd"] {
    fill: rgba(0, 0, 0, 0.6) !important;
    stroke: #fff !important;
}
.leaflet-pane.leaflet-overlay-pane path.leaflet-interactive[fill="none"] {
    stroke: rgba(59, 142, 222, 0.5) !important;
    stroke-width: 1rem !important;
}
.leaflet-popup-content-wrapper{
	margin-top: 6rem !important;
}
.leaflet-control-attribution.leaflet-control{
	display: none !important;
}


.wrapper_confirm{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.wrapper_confirm_active{
	opacity: 1;
	visibility: visible;
}
.confirmbox{
	max-width: 24rem;
	width: 100%;
	padding: 2rem;
	background: #53565A;
	border-radius: 0.5rem;
	border: 0.1rem #53565A solid;
	.mxw{
		max-width: 2rem;	
	}
	h1{
		font-family: 'Oswald', sans-serif;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.6rem;
		color: #fff;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	p{
		font-family: 'Oswald', sans-serif;
		font-size: 0.7rem;
		font-weight: 300;
		line-height: 0.8rem;
		color: #fff;
	}
	.btns{
		margin-top: 1rem;
		a{
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			font-family: 'Oswald', sans-serif;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1rem;
			color: #fff;
			position: relative;
			padding-left: 1rem;
			margin-right: 1rem;
			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
			svg{
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				left: 0;
				width: 100%;
				.fill{
					fill: #fff;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
				}
			}
			.w26{
				max-width: 0.625rem;
			}
			.w9{
				max-width: 0.9rem;
			}
			.w8{
				max-width: 0.8rem;
			}
		}
		a:hover{
			color: #CACAC7;
			svg{
				.fill{
					fill: #CACAC7;
				}
			}
		}
		.check{
			padding-left: 1.25rem;
		}
		.close{
			padding-left: 1.25rem;
		}
	}
}
.wrapper_confirm_green{
	.confirmbox{
		border-color: #75EC89;
		svg{
			.fill{
				fill:#75EC89;
			}
		}
		h1{
			color: #75EC89;
		}
	}
}
.wrapper_confirm_yellow{
	.confirmbox{
		border-color: #FEC84F;
		svg{
			.fill{
				fill:#FEC84F;
			}
		}
		h1{
			color: #FEC84F;
		}
	}
}
.wrapper_confirm_red{
	.confirmbox{
		border-color: #F4242B;
		svg{
			.fill{
				fill:#F4242B;
			}
		}
		h1{
			color: #F4242B;
		}
	}
}
.wrapper_confirm_white{
	.confirmbox{
		border-color: #FFFFFF;
		svg{
			.fill{
				fill:#FFFFFF;
			}
		}
		h1{
			color: #FFFFFF;
		}
	}
}

